name: Build and Release

permissions:
  contents: write

on:
  # push:
  #   tags:
  #     - "v*"

  workflow_dispatch:
    inputs:
      release_tag:
        description: Git tag to release (e.g., v1.2.3)
        required: true
      release_description:
        description: Release notes/description
        required: true

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "9.0.x"

      - name: Set version variable
        run: |
          if ($env:GITHUB_EVENT_NAME -eq "workflow_dispatch") {
              $tag = '${{ github.event.inputs.release_tag }}'
              $desc = '${{ github.event.inputs.release_description }}'
          } else {
              $tag = $env:GITHUB_REF_NAME
              $desc = "Release $tag"
          }
          $version = $tag.TrimStart('v')
          echo "VERSION=$version" >> $env:GITHUB_ENV
          echo "RELEASE_TAG=$tag" >> $env:GITHUB_ENV
          echo "RELEASE_DESC=$desc" >> $env:GITHUB_ENV
        shell: pwsh

      - name: Publish normal
        run: dotnet publish CPUSetSetter/CPUSetSetter.csproj -c Release /p:DebugType=None /p:DebugSymbols=false /p:FileVersion=${{ env.VERSION }} /p:Version=${{ env.VERSION }} /p:SelfContained=true -o publish/CPUSetSetter

      - name: Include licenses
        run: |
          dotnet tool install --global nuget-license
          nuget-license -i .\CPUSetSetter\CPUSetSetter.csproj -t -d .\third-party-licenses
          Copy-Item -Path .\third-party-licenses -Destination .\publish\CPUSetSetter -Recurse          
          Copy-Item -Path .\LICENSE -Destination .\publish\CPUSetSetter\LICENSE.txt
          Copy-Item -Path .\LICENSE -Destination .\publish\CPUSetSetter_net9_included\LICENSE.txt     
   

      - name: Show Release file hashes
        run: Get-FileHash .\release_files\* | Format-List Algorithm, Path, Hash

      - name: Create Velopack Release
        run: |
          dotnet tool install -g vpk
          vpk download github --repoUrl https://github.com/${{ github.repository }} --token ${{ secrets.GITHUB_TOKEN }}
          vpk pack -u CPUSetSetter -v ${{ env.VERSION }} -p .\publish\CPUSetSetter
          vpk upload github --repoUrl https://github.com/${{ github.repository }} --token ${{ secrets.GITHUB_TOKEN }} --publish --releaseName "CPU Set Setter ${{ env.VERSION }}" --tag ${{ env.RELEASE_TAG }}

      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ env.RELEASE_TAG }}
          body: ${{ env.RELEASE_DESC }}
          files: release_files/*
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
